conda create --name PointNet2 python=3.10
conda activate PointNet2

pip install pytorch-lightning

# https://stackoverflow.com/questions/69952475/how-to-solve-the-pytorch-geometric-install-error-undefined-symbol-zn5torch3ji
pip install torch -f https://data.pyg.org/whl/torch-1.12.1+gpu.html
pip install torch-geometric -f https://data.pyg.org/whl/torch-1.12.1+gpu.html

# https://github.com/rusty1s/pytorch_cluster
pip install torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
pip install torch-sparse -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
pip install torch-cluster -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
pip install wandb==0.16.0

conda install plotly==5.14.1 -y
conda install pandas==2.0.1 -y
conda install seaborn==0.12.2 -y

pip install --upgrade nbformat==5.8.0
pip install torchsummary==1.5.1

pip uninstall protobuf
pip install protobuf==3.20.0

pip install tensorboard






# For removing the environment altogether:
conda uninstall -n PointNet2 --all